
  /* animation class --------------------------------------------------------- */
  [data-hidden],
  .hidden {
    visibility: hidden;
  }
  .warning-fixers{
    z-index: -1;
  }
  /* useful for img caching -------------------------------------------------- */
  .no-display {
    display: none;
  }
  /* reset ------------------------------------------------------------------- */
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  
    background-color: transparent;
    color: #000;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  img {
    display: block;
    backface-visibility: hidden;
    flex-shrink: 0; /* IE fix */
  
    max-width: 100%;
    height: auto;
  
    /*max-height: 100%;
    width: auto;*/ 
  }
  button {
    display: block;
    margin: 0;
    overflow: visible;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 4px;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: normal;
  }
  small {
    font-size: smaller;
  }
  em {
    font-weight: 700;
  }
  video {
    max-width: 100%;
  }
  /* layout ------------------------------------------------------------------ */
  .wrapper {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden; /* iPhone 7 fix */
  }
  .wrapper-side {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .flex-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .full {
    width: 100%;
    height: 100%;
  }
  .pos-c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .pos-cx {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .pos-a {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pos-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .faux-top {
    height: 250px;
    width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .faux-side {
    height: 100%;
    width: 400px;
    position: absolute;
    top: 0;
  }
  .faux-side.left {
    left: 0;
  }
  .faux-side.right {
    right: 0;
  }
  .video-container {
    height: 100%;
    width: auto;
  }
  .video-container.width {
    height: auto;
    width: 100%;
  }
  .video-container-side {
    position: absolute !important; /* ie fix  */
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    max-width: 400px;
  }
  [jp-controls] {
    height: 100%;
  }
  .bg {
    background-size: cover;
    background-position: center;
  }
  .bg-img {
    object-fit: cover;
    object-position: center;
  }
  /* custom ------------------------------------------------------------------ */
  /* start here */
  .portada-container-top{
    position: relative;
    width: 100vw;
    height: 50vh;
  }
  .bg-portada{
    filter: blur(5px);
  }
  .single-img{
    height: 90%;
    width: auto;
    max-width: none;
    z-index: 10;
  }
  .btn-links-container{
    width: 100%;
    height: auto;
    margin-top: 3%;
  }
  h1{
    font-size: 28px;
    margin: 0.5em;
  }
  h2{
    font-size: 20px;
    margin: 0;
  }
.hnalbum__buy-buttons {
    border-radius: 23px;
    padding: 0;
    text-align: left;
    /* display: inline-block; */
    margin: 20px 0 10px 0;
    text-align: right;
}
.hnalbum__buy-button-label, .hnalbum__buy-button-link-label {
    font-size: 20px;
    text-align: center;
}
.hnalbum__buy-button-label {
    margin-bottom: 5%;
}
.hnalbum__buy-button-link {
    border-radius: 30px;
    border: 1px solid #444;
    padding: 9px 0;
    margin-top: 14px;
    display: inline-block;
    text-align: left;
    /* width: 75%; */
    min-width: 170px;
    text-decoration: none;
    color: #000;
    width: 45%;
    margin-right: 5px;
    margin-left: 5px;
}
.hnalbum__buy-button-link-icon {
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0 8px 0 15px;
    display: inline-block;
    vertical-align: middle;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.hnalbum__buy-button-link-icon, .hnalbum__buy-button-link-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
.greetings{
    margin-top: 5%;
    margin-bottom: 20%;
}
p{
    margin:0.7em;
}
  /* media queries ----------------------------------------------------------- */
  /*@media (max-width: 1000px) {}*/
  /* @media (max-aspect-ratio: 2/5) {
  }
  @media (max-aspect-ratio: 3/10){
  }
  @media (max-aspect-ratio: 1/5){
  }
  @media (max-aspect-ratio: 3/20){
  
  } */
  